$text: #27300f;
$orange: #d26a22;
$white: #fff;

html {
    font-size: 10px;
}
.header {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__nav {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap: 4.8rem;
    }

    &__nav a {
        text-decoration: none;
    }

    &__link {
        font-size: 1.6rem;
        color: $text;
        &:hover {
            color: $orange;
            text-decoration: none;
        }
    }

    &__tel {
        font-size: 16px;
        color: $text;
        text-decoration: none;
        &:hover {
            color: $orange;
        }
    }

    &__cart {
        display: block;
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        background-color: $orange;
        background-image: url(../images/cart.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 17px 15px;
        position: relative;
    }

    &__counter {
        font-size: 8px;
        color: $white;
        position: absolute;
        right: 10px;
        top: 6px;
    }
    
}

.logo {
    display: block;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 123px;
    height: 32px;;
}

.header__item {

}
